.externalstyle {
    color: aqua;
    font-size: x-large;
    font-family: Arial, sans-serif;
    text-align: center; }

.mobilelegends{
    color: red;
    font-size: x-large;
    font-family: Arial, sans-serif;
    text-align: center;
} 

.rombeld{
    color: blue;
    font-size: x-large;
    font-family: Arial, sans-serif;
    text-align: center;
}

h3, h2, p {
    color: black;
    font-size: medium;
    font-family: Arial, sans-serif;
    text-align: center;
}